.achievements {
  margin-top: 150px;

  &__down {
      display: flex;
      gap: 40px;
  }

  &__column {
      width: 33.33%;
      border: 1px solid $grey-15;
      border-radius: 12px;
      box-shadow: 0px 0px 0px 8px $shadow;
  }

  &__titleh3 {
      font-family:"Urbanist", sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 45px;
      color: $absolute-white;
      padding: 50px 50px 15px 50px;
  }

  &__subtext {
      padding: 14px 0 80px 0;
  }
  
}   

.down {
  &__subtext {
      padding: 15px 50px 50px 50px;
  }
}