.discover {
  .img {
    position: absolute;
    height: 630px;
  }

  .column {
    width: 660px;
    padding-right: 90px;
    background-color: $bg-black;
    height: 630px;
  }

  .block {
    margin-top: 98px;
    margin-left: 80px;
  }

  .row {
    display: flex;
    width: 1440px;
    position: relative;
  }

  &__title {
    font-family: "Urbanist";
    font-size: 46px;
    font-weight: 600;
    color: $text-white;
    width: 600px;
    padding-bottom: 20px;
  }

  &__subtitle {
    font-family: "Urbanist";
    color: $text-gray;
    font-size: 16px;
    font-weight: 500;
  }

  .button {
    margin-top: 50px;
    margin-bottom: 70px;
    &__seconderi {
      padding: 14px 20px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      border: 1px solid $bg-darck-gray;
      background-color: $bg-black;
      color: $text-white;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.4;
        transition: 0.2s;
      }
    }

    &__primeri {
      font-family: "Urbanist";
      padding: 14px 20px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      border: 1px solid $bg-darck-gray;
      background-color: $bg-purple;
      color: $text-white;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.4;
        transition: 0.2s;
      }
    }
  }

  .intalligance {
    display: flex;

    &__info {
      font-family: "Urbanist";
      border: 1px solid $bg-darck-gray;
      padding: 14px 20px;
      border-radius: 8px;
      margin-right: 10px;
      width: 192px;
    }

    &__h3 {
      font-family: "Urbanist";
      color: $text-white;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 700;
    }

    &__span {
      font-family: "Urbanist";
      font-size: 16px;
      font-weight: 500;
      color: $text-gray;
      width: 152px;
    }
  }

  .transition {
    &__card {
      margin-left: 70px;
      padding-top: 50px;
      display: flex;
    }

    &__choice {
      border: 2px solid $bg-darck-gray;
      background-color: $bg-black;
      padding: 40px 20px;
      border-radius: 8px;
      margin-right: 12px;
      width: 270px;
      text-align: center;
      height: 110px;
    }

    &__title {
      font-family: "Urbanist";
      padding-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: $text-white;
      width: 270px;
      line-height: 20px;
    }

    &__vector {
      margin-left: 240px;
      margin-top: -15px;
    }
  }
}
