.header {
  background-color: $bg-light-black;

  .a {
    color: $text-white;
    margin-left: 5px;
  }

  &__logo {

    margin-top: 10px;
  }

  &__menu {
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;

    &__menu {
      margin-bottom: 10px;
    }
  }

  &__row {
    justify-content: space-between;
    display: flex;
    padding-top: 25px;
    border-bottom: 2px solid $bg-darck-gray;
   padding-bottom: 15px;
  }

  .hr {
    width: 1440px;
    border-color: $bg-darck-gray;
    border-radius: 1px;
  }

  &__image {
    background-color: $bg-gray;
    width: 32px;
    height: 32px;
    border-radius: 60px;

    margin-top: -7px;
    border: none;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 0.4;
      transition: 0.2s;
    }
  }

  &__title {
    font-family: "Urbanist";
    color: $text-white;
    font-size: 18px;
    font-weight: 500;
  }

  &__button {
    font-family: "Urbanist";
    color: $text-white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    background-color: $bg-black;
    border: 1px solid $bg-gray;
    padding: 14px 20px 14px 20px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      opacity: 0.4;
      transition: 0.2s;
    }
  }

  .nav {
    &__menu {
      display: flex;
    }


    &__item {
      font-family: "Urbanist";
      margin-right: 50px;
      margin-top: 20px;
      color: $text-white;
   
      &__a {
        text-decoration: none;
        color: $text-white;
      }
      &:hover {
        cursor: pointer;
      }


      &:nth-child(1) {
        margin-right: 50px;
        margin-top: 5px;
        color: $text-white;
        background-color: $bg-black;
        padding: 15px 25px;
        border-radius: 10px;
        border: 1px solid $bg-gray;

        &:hover {
          cursor: pointer;
          opacity: 0.4;
          transition: 0.2s;
        }
      }
    }
  }
  .nav {
    &__menu {
      display: flex;
    }


    &__meti {
      font-family: "Urbanist";
      margin-right: 50px;
      margin-top: 20px;
      color: $text-white;
   
      &__a {
        text-decoration: none;
        color: $text-white;
      }
      &:hover {
        cursor: pointer;
      }


      
      &:nth-child(2) {
        margin-right: 50px;
        margin-top: 5px;
        color: $text-white;
        background-color: $bg-black;
        padding: 15px 25px;
        border-radius: 10px;
        border: 1px solid $bg-gray;

        &:hover {
          cursor: pointer;
          opacity: 0.4;
          transition: 0.2s;
        }
      }
    }
  }
  .nav {
    &__menu {
      display: flex;
    }


    &__temi {
      font-family: "Urbanist";
      margin-right: 50px;
      margin-top: 20px;
      color: $text-white;
   
      &__a {
        text-decoration: none;
        color: $text-white;
      }
      &:hover {
        cursor: pointer;
      }


      
      &:nth-child(3) {
        margin-right: 50px;
        margin-top: 5px;
        color: $text-white;
        background-color: $bg-black;
        padding: 15px 25px;
        border-radius: 10px;
        border: 1px solid $bg-gray;

        &:hover {
          cursor: pointer;
          opacity: 0.4;
          transition: 0.2s;
        }
      }
    }
  }
}
