$text-white: #fff;
$text-gray: #999999;

$bg-gray: #4d4d4d;
$bg-darck-gray: #262626;
$bg-light-black: #1a1a1a;
$bg-black: #141414;
$bg-purple: #703bf7;



$absolute-white: rgba(255, 255, 255, 1);
$absolute-black: rgba(0, 0, 0, 1);

// Purple-Shades
$purple-60: rgba(112, 59, 247, 1);
$purple-65: rgba(130, 84, 248, 1);
$purple-70: rgba(148, 108, 249, 1);
$purple-75: rgba(166, 133, 250, 1);
$purple-90: rgba(219, 206, 253, 1);
$purple-95: rgba(237, 231, 254, 1);
$purple-97: rgba(244, 240, 254, 1);
$purple-99: rgba(251, 250, 255, 1);

// White-Shades
$white-90: rgba(228, 228, 231, 1);
$white-95: rgba(241, 241, 243, 1);
$white-97: rgba(247, 247, 248, 1);
$white-99: rgba(252, 252, 253, 1);

// Grey-Shades
$grey-08: rgba(20, 20, 20, 1);
$grey-10: rgba(26, 26, 26, 1);
$grey-15: rgba(38, 38, 38, 1);
$grey-20: rgba(51, 51, 51, 1);
$grey-30: rgba(77, 77, 77, 1);
$grey-40: rgba(102, 102, 102, 1);
$grey-60: rgba(153, 153, 153, 1);
$grey-50: rgba(128, 128, 128, 1);

// Box-Shadow
$shadow: rgba(25, 25, 25, 1);